
.notifications {
  position: fixed;
  width: 320px;
  right: 5px;
  top: 5px;
  &__box {
    height: 64px;
    background: #fff;
    border-radius: 2px;
    margin-bottom: 5px;
    color: #000;
    box-shadow: 0 2px 10px rgba(0,0,0,0.2);
    position: relative;
    //transform: translateX(320px);
    transition: all linear .3s;
    div[class^='col-']:first-child {
      text-align: center;
      padding-right: 0;
    }
    i {
      font-size: 20px;
      color: #fff;
      padding-top: 23px;
      padding-left: 10px;
    }
    h2 {
      font-size: 12.5px;
      font-weight: 400;
      margin-bottom: 2px;
      margin-top: 18px;
    }
    p {
      font-size: 10px;
      font-weight: 100;
    }
    .close {
      position: absolute;
      right: 8px;
      top: 5px;
      font-size: 12px;
      color: #fff;
      cursor: pointer;
      z-index:9999;
      display: block;
      line-height: 20px;
      font-weight: 100;
      i {
        color: #fff;
        cursor: pointer;
        padding-top: 0;
        font-size: 12px;
      }
    }
    &.info {
      background: linear-gradient(to right, #627F90 10% , #C3D1D9); /* Standard syntax */
      i {
        color: #C3D1D9;
      }
      h2 {
        color: #fff;
      }
      p {
        color: #3B4D58;
      }
    }
    &.warning {
      background: linear-gradient(to right, #7F7117 1% , #FFEA62); /* Standard syntax */
      i {
        color: #FFEA62;
      }
      h2 {
        color: #fff;
      }
      p {
        color: #685712;
      }
    }
    &.times-circle {
      background: linear-gradient(to right, #7B0F0F 10% , #C54343); /* Standard syntax */
      i {
        color: #C54343;
      }
      h2 {
        color: #fff;
      }
      p {
        color: #fff;
      }
    }
  }
}

.notification {

  position: absolute;
  right: 0;
  top: 15px;
  width: 320px;
  height: 64px;
  h2 {
    font-size: 16px;
  }
  p {
    font-size: 12px;
  }
  > div {
    margin-bottom: 5px;
    background: rgba(255,255,255,1);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 20px;
    color: #000;
  }
}
